extends ../shared/template

block content
  .profile-picture(style="background-image:url('#{user.primaryPhoto}')")


  #profileHeader
    h1.name= user.name
    h4= user.email

    span: a.edit(href='/users/edit') Edit

  .clear
  #pings
    h3 PINGS

  #messages
    #messageCount
      span: a(href='/messages/inbox')
        i.fa.fa-envelope(style='margin-right: 10px')

  .clear

  #userMatchSection
    #topMatches

  //-
  //- #bio
  //-   .bioinfo
  //-     h3 Bio
  //-     p= user.bio
  //-
  //- .clear

  #myInfo
    .info
      h3 Bio
      p= user.bio
    .info
      h3 IP
      p= user.ipAddress
    .info
      h3 Seeking
      p= user.seeking
    .info
      h3 OS
      p= user.os
    .info
      h3 Languages
      p= user.languages
    .info
      h3 Classification
      p= user.classification

block scripts
  script(src='/js/es6/compiled/dashboard.js')
  script(src='/js/es6/compiled/ping.js')
