extends ../shared/template

block content
  h1 USER DASHBOARD


  .profile-picture(style="background-image:url('#{user.primaryPhoto}')")


  #profileHeader
    h1= user.name
    h4= user.email

    span: a(href='/users/edit') Edit

  #ping

  #messages
    #messageCount
      span: a(href='/messages/inbox') New Messages:

  #userMatchSection
    #topMatches

    span: a(href='/users/matches') View All

  #myInfo
    h3 IP
    p= user.ipAddress
    h3 Bio
    p= user.bio
    h3 Seeking
    p= user.seeking
    h3 OS
    p= user.os
    h3 Languages
    p= user.languages
    h3 Classification
    p= user.classification

block scripts
  script(src='/js/es6/compiled/dashboard.js')
