extends ../shared/template

block content
  h1 MATCHES
  if(matches && matches.length)
    each match in matches
      a.match(href='/users/#{match._id}/show' data-match-id='#{match._id}')
        img.match-pic-big(src='#{match.primaryPhoto}')
        p.match-name=match.name
        p.match-class=match.classification
        p.match-bio=match.bio
        .clear

  else
    .match You have no matches. Broaden your seeking designations:
      span: a(href='/users/edit') here
